<!DOCTYPE html>

<html lang="en">
    <head>
        <meta
            charset="utf-8">

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1">

        <meta
            name="color-scheme"
            content="dark">

        <title>
            Richeve Bebedor
        </title>

        <link
            rel="stylesheet"
            href="/assets/styles/pico.min.css">

        <script
            src="/assets/scripts/htmx.min.js"
            defer>
        </script>
    </head>

    <body>
        <header
            hx-get="/partials/navigation.html"
            hx-trigger="load"
            hx-swap="outerHTML">
        </header>

        <main>
        </main>

        <footer
            hx-get="/partials/footer.html"
            hx-trigger="load"
            hx-swap="outerHTML">
        </footer>
    </body>
</html>
