<header>
    <span class="logo icon">
        <svg
            class="logo icon"
            viewBox="0 0 900 900"
            preserveAspectRatio="xMidYMid meet"
            role="img"
            aria-label="vs">
            <use href="/assets/images/vs.logo.svg#vs-logo" />
        </svg>
    </span>
    <a class="header-link" href="/">
        <h6>volkovasystems</h6>
    </a>
    <button class="control">
        <svg class="icon">
            <use href="/assets/images/feather-sprite.svg#more-vertical" />
        </svg>
    </button>
</header>
