<aside>
    <nav>
        <ul class="page-list">
            <li class="page-list-item">
                <span class="icon">
                    <svg class="icon">
                        <use href="/assets/images/feather-sprite.svg#feather" />
                    </svg>
                </span>
                <a class="page-link" href="/">Welcome!</a>
            </li>
            <li class="page-list-item">
                <span class="icon">
                    <svg class="icon">
                        <use href="/assets/images/feather-sprite.svg#feather" />
                    </svg>
                </span>
                <a class="page-link" href="/">My Life So Far</a>
            </li>
            <li class="page-list-item">
                <span class="icon">
                    <svg class="icon">
                        <use href="/assets/images/feather-sprite.svg#feather" />
                    </svg>
                </span>
                <a class="page-link" href="/">Hire Me!</a>
            </li>
        </ul>
    </nav>
</aside>
