<li id="are-you-gonna-hire-me"
    class="content-list-item list-item level-5">
    <article class="list-item content-tree list">
        <header class="content-tree-header content-list-item list-item level-2">
            <span
                class="
                    content-list-item-icon
                    icon
                "
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#sun" />
                </svg>
            </span>
            <h5 class="support-content content">
                are you gonna hire me?
            </h5>
            <button id="are-you-gonna-hire-me-control"
                class="content-list-item-control icon-control control"
                aria-label="Show more information"
                hx-get="/partials/are-you-gonna-hire-me-collapsed.partial.html"
                hx-target="#are-you-gonna-hire-me"
                hx-swap="outerHTML">
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#chevron-down" />
                </svg>
            </button>
        </header>
        <div class="list-item spacer"></div>
        <footer class="content-tree-footer content-list-item list-item">
            <div class="unit-spacer spacer"></div>
            <button class="focus-action-control control" aria-label="Book now">
                <h4>
                    HIRE ME
                </h4>
            </button>
            <div class="unit-spacer spacer"></div>
        </footer>
        <div class="list-item spacer"></div>
    </article>
</li>
