<nav>
    <ul
        class="
            page-list
            list
        "
    >
        <li
            class="
                page-list-item
                list-item
            "
        >
            <span
                class="
                    page-list-item-icon
                    icon
                "
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#moon" />
                </svg>
            </span>
            <a
                class="
                    page-list-item-link
                    link
                "
                href="#"
                title="about me"
            >
                <h5>point</h5>
            </a>
            <div class="unit-spacer spacer"></div>
        </li>
        <li
            class="
                page-list-item
                list-item
            "
        >
            <span
                class="
                    page-list-item-icon
                    icon
                "
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#sun" />
                </svg>
            </span>
            <a
                class="
                    page-list-item-link
                    link
                "
                href="#"
                title="my capabilities"
            >
                <h5>product</h5>
            </a>
            <div class="unit-spacer spacer"></div>
        </li>
        <li
            class="
                page-list-item
                list-item
            "
        >
            <span
                class="
                    page-list-item-icon
                    icon
                "
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#layers" />
                </svg>
            </span>
            <a
                class="
                    page-list-item-link
                    link
                "
                href="#"
                title="my projects"
            >
                <h5>progress</h5>
            </a>
            <div class="unit-spacer spacer"></div>
        </li>
        <li
            class="
                page-list-item
                list-item
            "
        >
            <span
                class="
                    page-list-item-icon
                    icon
                "
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#gift" />
                </svg>
            </span>
            <a
                class="
                    page-list-item-link
                    link
                "
                href="#"
                title="my ideas"
            >
                <h5>poison</h5>
            </a>
            <div class="unit-spacer spacer"></div>
        </li>
        <li
            class="
                page-list-item
                list-item
            "
        >
            <span
                class="
                    page-list-item-icon
                    icon
                "
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#coffee" />
                </svg>
            </span>
            <a
                class="
                    page-list-item-link
                    link
                "
                href="#"
                title="my services"
            >
                <h5>power</h5>
            </a>
            <div class="unit-spacer spacer"></div>
        </li>
        <li class="list-item spacer"></li>
        <li
            class="
                page-list-item
                list-item
            "
        >
            <a
                class="
                    page-list-item-link
                    icon-link
                    link
                "
                href="#"
                title="github profile"
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#github" />
                </svg>
            </a>
            <a
                class="
                    page-list-item-link
                    icon-link
                    link
                "
                href="#"
                title="facebook profile"
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#facebook" />
                </svg>
            </a>
            <a
                class="
                    page-list-item-link
                    icon-link
                    link
                "
                href="#"
                title="twitter profile"
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#twitter" />
                </svg>
            </a>
            <a
                class="
                    page-list-item-link
                    icon-link
                    link
                "
                href="#"
                title="youtube profile"
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#youtube" />
                </svg>
            </a>
            <a
                class="
                    page-list-item-link
                    icon-link
                    link
                "
                href="#"
                title="rss profile"
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#rss" />
                </svg>
            </a>
            <div class="unit-spacer spacer"></div>
            <div class="unit-spacer spacer"></div>
        </li>
    </ul>
</nav>
