<aside
        class="
            list

            left-sidebar
            sidebar
            bar
        "
    >
    <section
        class="
            list-item

            group-list
            list
        "
    >
        <header class="list-item">
            <span
                class="
                    header-logo
                    logo
                    icon
                "
            >
                <svg
                    class="
                        logo
                        icon
                    "

                    viewBox="0 0 900 900"
                    preserveAspectRatio="xMidYMid meet"
                    role="img"
                    aria-label="vs">
                    <use href="/assets/images/vs.logo.svg#vs-logo" />
                </svg>
            </span>
            <a
                class="
                    header-link
                    link
                "

                href="/"
            >
                <h6>volkovasystems</h6>
            </a>
            <button
                class="
                    header-control
                    icon-control
                    control
                "
            >
                <svg class="icon">
                    <use href="/assets/images/feather-sprite.svg#more-vertical" />
                </svg>
            </button>
        </header>
    </section>
</aside>
