<ul
    class="
        page-list
        list
    "
>
    <li
        class="
            page-list-item
            list-item
        "
    >
        <a
            class="
                page-list-item-link
                link
            "
            href="#"
        >
            Point
        </a>
    </li>
    <li
        class="
            page-list-item
            list-item
        "
    >
        <a
            class="
                page-list-item-link
                link
            "
            href="#"
        >
            Product
        </a>
    </li>
    <li
        class="
            page-list-item
            list-item
        "
    >
        <a
            class="
                page-list-item-link
                link
            "
            href="#"
        >
            Progress
        </a>
    </li>
    <li
        class="
            page-list-item
            list-item
        "
    >
        <a
            class="
                page-list-item-link
                link
            "
            href="#"
        >
            Poison
        </a>
    </li>
    <li
        class="
            page-list-item
            list-item
        "
    >
        <a
            class="
                page-list-item-link
                link
            "
            href="#"
        >
            Power
        </a>
    </li>
</ul>
