.concise-component .bar {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;

    height: auto;
    min-height: var(--concise-base-unit);
}

.concise-component .sidebar {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;

    width: auto;
    min-width: var(--concise-base-unit);
}
