.concise-component aside.page-tree.left-sidebar.sidebar.bar.list >
header.page-tree-header.list-item {
    height: var(--concise-list-item-height);
    width: var(--concise-list-item-width);
}

.concise-component aside.page-tree.left-sidebar.sidebar.bar.list >
header.page-tree-header.list-item > a.header-link.link {
    height: var(--concise-list-item-content-height);
    width: var(--concise-list-item-content-width);

    display: flex;
    align-items: center;

    padding-left: var(--concise-base-spacing);
    padding-right: var(--concise-base-spacing);
}

.concise-component aside.page-tree.left-sidebar.sidebar.bar.list >
header.page-tree-header.list-item:has(> a.header-link.link:only-child) {
    justify-content: center;
}

.concise-component aside.page-tree.left-sidebar.sidebar.bar.list >
header.page-tree-header.list-item:has(
    > button.header-control.icon-control.control
) {
    justify-content: flex-end;
}

.concise-component aside.page-tree.left-sidebar.sidebar.bar.list >
header.page-tree-header.list-item:has(> span.header-logo.logo.icon) {
    justify-content: flex-start;
}

.concise-component aside.page-tree.left-sidebar.sidebar.bar.list >
header.page-tree-header.list-item > button.header-control.icon-control.control {
    background-color: transparent;
}
