.concise-component svg.icon:not(.logo) {
    width: var(--concise-icon-size);
    height: var(--concise-icon-size);

    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

    fill: none;
}

.concise-component svg.logo.icon {
    width: var(--concise-logo-icon-size);
    height: var(--concise-logo-icon-size);
}

.concise-component span.icon:has(> svg.icon:only-child) {
    width: var(--concise-base-unit);
    height: var(--concise-base-unit);

    display: flex;
    align-items: center;
    justify-content: center;
}
