main.concise-component svg.icon:not(.logo) {
    width: var(--concise-icon-size);
    height: var(--concise-icon-size);
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

main.concise-component svg.logo.icon {
    width: var(--concise-logo-icon-size);
    height: var(--concise-logo-icon-size);
}

main.concise-component span.icon:has(> svg.icon) {
    width: var(--concise-grid-unit);
    height: var(--concise-grid-unit);

    display: flex;
    align-items: center;
    justify-content: center;
}

main.concise-component span.logo.icon:has(> svg.logo.icon) {
    width: var(--concise-grid-unit);
    height: var(--concise-grid-unit);

    display: flex;
    align-items: center;
    justify-content: center;
}
