.concise-component .list {
    height: auto;
    min-height: var(--concise-list-height);

    min-width: var(--concise-list-width);

    display: flex;
    flex-direction: column;
}

.concise-component .list > .item {
    height: auto;
    min-height: var(--concise-list-item-height);

    min-width: var(--concise-list-item-width);

    display: flex;
    flex-direction: row;
}
