main.concise-component section.left-sidebar.sidebar > aside:has(> nav > ul.page-list),
main.concise-component section.left-sidebar.sidebar > aside > nav:has(> ul.page-list),
main.concise-component section.left-sidebar.sidebar > aside > nav > ul.page-list {
    width: var(--concise-list-width);
    height: auto;

    margin: 0;
    padding: 0;
}
