@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root,
:host {
    --concise-font-family: 'Fira Code', monospace;

    --concise-base-unit: 47px;

    --concise-logo-icon-size: 41px;
    --concise-icon-size: 23px;

    --concise-text-heading-1: 31px;
    --concise-text-heading-1-line-height: 41px;

    --concise-text-heading-2: 29px;
    --concise-text-heading-2-line-height: 37px;

    --concise-text-heading-3: 23px;
    --concise-text-heading-3-line-height: 31px;

    --concise-text-heading-4: 19px;
    --concise-text-heading-4-line-height: 27px;

    --concise-text-heading-5: 17px;
    --concise-text-heading-5-line-height: 25px;

    --concise-text-heading-6: 13px;
    --concise-text-heading-6-line-height: 21px;

    --concise-text-base: 11px;
    --concise-text-line-height: 17px;

    --concise-base-spacing: calc((var(--concise-base-unit) / 5) / 2);

    --concise-text-main-section-title: var(--concise-text-heading-1);
    --concise-text-main-section-description: var(--concise-text-heading-6);
    --concise-text-support-section-title: var(--concise-text-heading-2);
    --concise-text-support-section-description: var(--concise-text-heading-6);
    --concise-text-specific-section-title: var(--concise-text-heading-3);
    --concise-text-specific-section-description: var(--concise-text-heading-6);

    --concise-list-item-unit: 7;
    --concise-list-item-content-unit: 5;

    --concise-list-item-height: var(--concise-base-unit);
    --concise-list-item-width: calc(
        var(--concise-base-unit) * var(--concise-list-item-unit)
    );

    --concise-list-item-content-height: var(--concise-list-item-height);
    --concise-list-item-content-width: calc(
        var(--concise-base-unit) * var(--concise-list-item-content-unit)
    );

    --concise-list-height: var(--concise-base-unit);
    --concise-list-width: calc(
        var(--concise-base-unit) * var(--concise-list-item-unit)
    );

    --concise-control-height: var(--concise-base-unit);
    --concise-control-width: calc(
        var(--concise-base-unit) * var(--concise-list-item-unit)
    );
    --concise-icon-control-height: var(--concise-base-unit);
    --concise-icon-control-width: var(--concise-base-unit);
}

@media (max-width: 329px) {
    :root,
    :host {
        --concise-base-unit: 43px;

        --concise-logo-icon-size: 37px;
        --concise-icon-size: 19px;

        --concise-text-heading-1: 29px;
        --concise-text-heading-1-line-height: 37px;

        --concise-text-heading-2: 23px;
        --concise-text-heading-2-line-height: 31px;

        --concise-text-heading-3: 19px;
        --concise-text-heading-3-line-height: 27px;

        --concise-text-heading-4: 17px;
        --concise-text-heading-4-line-height: 25px;

        --concise-text-heading-5: 13px;
        --concise-text-heading-5-line-height: 21px;

        --concise-text-heading-6: 11px;
        --concise-text-heading-6-line-height: 17px;

        --concise-text-base: 7px;
        --concise-text-line-height: 13px;
    }
}

.concise-component,
.concise-component *,
.concise-component nav,
.concise-component ul
.concise-component ol
.concise-component li {
    font-family: var(--concise-font-family);
    font-size: var(--concise-text-base);
    line-height: var(--concise-text-line-height);
    font-variant-ligatures: contextual;
    font-weight: normal;

    box-sizing: border-box;
    border: none;
    border-radius: 0;

    outline: none;
    box-shadow: none;
    text-shadow: none;

    margin: 0;
    padding: 0;
}

.concise-component h1 {
    font-size: var(--concise-text-heading-1);
    line-height: var(--concise-text-heading-1-line-height);
}

.concise-component h2 {
    font-size: var(--concise-text-heading-2);
    line-height: var(--concise-text-heading-2-line-height);
}

.concise-component h3 {
    font-size: var(--concise-text-heading-3);
    line-height: var(--concise-text-heading-3-line-height);
}

.concise-component h4 {
    font-size: var(--concise-text-heading-4);
    line-height: var(--concise-text-heading-4-line-height);
}

.concise-component h5 {
    font-size: var(--concise-text-heading-5);
    line-height: var(--concise-text-heading-5-line-height);
}

.concise-component h6 {
    font-size: var(--concise-text-heading-6);
    line-height: var(--concise-text-heading-6-line-height);
}
