<section
    class="
        page

        row-group
        group
    "
>
    <div class="left-sidebar sidebar bar spacer"></div>
    <aside
        class="
            page-tree
            list

            left-sidebar
            sidebar
            bar
        "
    >
        <div class="page-tree-header-spacer list-item spacer"></div>
        <header
            class="
                page-tree-header
                list-item
            "
        >
            <span
                class="
                    header-logo
                    logo
                    icon
                "
            >
                <svg
                    class="
                        logo
                        icon
                    "

                    viewBox="0 0 900 900"
                    preserveAspectRatio="xMidYMid meet"
                    role="img"
                    aria-label="vs">
                    <use href="/assets/images/vs.logo.svg#vs-logo" />
                </svg>
            </span>
            <a
                class="
                    header-link
                    link
                "

                href="#"
            >
                <h4>volkovasystems</h4>
            </a>
            <div class="unit-spacer spacer"></div>
        </header>
        <div class="list-item spacer"></div>
        <nav>
            <ul
                class="
                    page-list
                    list
                "
            >
                <li
                    class="
                        page-list-item
                        list-item
                    "
                >
                    <span
                        class="
                            page-list-item-icon
                            icon
                        "
                    >
                        <svg class="icon">
                            <use href="/assets/images/feather-sprite.svg#moon" />
                        </svg>
                    </span>
                    <a
                        class="
                            page-list-item-link
                            link
                        "

                        href="#"
                    >
                        <h5>point</h5>
                    </a>
                    <div class="unit-spacer spacer"></div>
                </li>
                <li
                    class="
                        page-list-item
                        list-item
                    "
                >
                    <span
                        class="
                            page-list-item-icon
                            icon
                        "
                    >
                        <svg class="icon">
                            <use href="/assets/images/feather-sprite.svg#sun" />
                        </svg>
                    </span>
                    <a
                        class="
                            page-list-item-link
                            link
                        "

                        href="#"
                    >
                        <h5>product</h5>
                    </a>
                    <div class="unit-spacer spacer"></div>
                </li>
                <li
                    class="
                        page-list-item
                        list-item
                    "
                >
                    <span
                        class="
                            page-list-item-icon
                            icon
                        "
                    >
                        <svg class="icon">
                            <use href="/assets/images/feather-sprite.svg#layers" />
                        </svg>
                    </span>
                    <a
                        class="
                            page-list-item-link
                            link
                        "

                        href="#"
                    >
                        <h5>progress</h5>
                    </a>
                    <div class="unit-spacer spacer"></div>
                </li>
                <li
                    class="
                        page-list-item
                        list-item
                    "
                >
                    <span
                        class="
                            page-list-item-icon
                            icon
                        "
                    >
                        <svg class="icon">
                            <use href="/assets/images/feather-sprite.svg#gift" />
                        </svg>
                    </span>
                    <a
                        class="
                            page-list-item-link
                            link
                        "

                        href="#"
                    >
                        <h5>poison</h5>
                    </a>
                    <div class="unit-spacer spacer"></div>
                </li>
                <li
                    class="
                        page-list-item
                        list-item
                    "
                >
                    <span
                        class="
                            page-list-item-icon
                            icon
                        "
                    >
                        <svg class="icon">
                            <use href="/assets/images/feather-sprite.svg#coffee" />
                        </svg>
                    </span>
                    <a
                        class="
                            page-list-item-link
                            link
                        "

                        href="#"
                    >
                        <h5>power</h5>
                    </a>
                    <div class="unit-spacer spacer"></div>
                </li>
                <li class="list-item spacer"></li>
                <li
                    class="
                        page-list-item
                        list-item
                    "
                >
                    <a
                        class="
                            page-list-item-link
                            icon-link
                            link
                        "

                        href="#"
                    >
                        <svg class="icon">
                            <use href="/assets/images/feather-sprite.svg#github" />
                        </svg>
                    </a>
                    <a
                        class="
                            page-list-item-link
                            icon-link
                            link
                        "

                        href="#"
                    >
                        <svg class="icon">
                            <use href="/assets/images/feather-sprite.svg#facebook" />
                        </svg>
                    </a>
                    <a
                        class="
                            page-list-item-link
                            icon-link
                            link
                        "

                        href="#"
                    >
                        <svg class="icon">
                            <use href="/assets/images/feather-sprite.svg#twitter" />
                        </svg>
                    </a>
                    <a
                        class="
                            page-list-item-link
                            icon-link
                            link
                        "

                        href="#"
                    >
                        <svg class="icon">
                            <use href="/assets/images/feather-sprite.svg#youtube" />
                        </svg>
                    </a>
                    <a
                        class="
                            page-list-item-link
                            icon-link
                            link
                        "

                        href="#"
                    >
                        <svg class="icon">
                            <use href="/assets/images/feather-sprite.svg#rss" />
                        </svg>
                    </a>
                    <div class="unit-spacer spacer"></div>
                    <div class="unit-spacer spacer"></div>
                </li>
            </ul>
        </nav>
    </aside>
</section>
